.profileContainer {
  color: #131515;
  background-color: #fffafb;
  border: #131515;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
}
.profileContainer:hover {
  background-color: #7de2d1;
  transition: 0.3s ease-in-out;
}
.profileContainer:active {
  background-color: #339989;
  transition: 0.1s ease-out;
}
.profileItems {
  font-weight: 550;
}
.profileImage {
  background-color: #fffafb;
}

.profileDropdown-content {
  color: #131515;
  cursor: pointer;
  display: none;
}
.profile {
  background-color: #fffafb;
  border: #131515;
  border-style: solid;
  box-direction: 2px;
  font-weight: 550;
}
.asistenteProfile {
  font-size: 0.69rem;
}

.profileDropdown-content a {
  padding: 1rem;
  text-decoration: none;
}

.dropdownContainer:hover .profileDropdown-content {
  display: flex;
  flex-direction: column;

  padding: auto;
  transform: translateY(2rem);
  transition: 0.5s ease-in-out;
}
